.detalhes {

    padding: 50px;
    max-width: 900px;
    margin: auto;
}

.detalhes__container {

    display: flex;
    gap: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56);
}

.detalhes__image {

    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.detalhes__info {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detalhes__info h2 {

    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #d70d1b;
    font-weight: bold;
}

.detalhes__info p {

    font-size: 1.05rem;
    line-height: 1.5;
}

.detalhes__voltar {
    display: block;
    text-align: right;
    color: #d70d1b;
}